//
   Created by hitori on 12.01.15.

doctype html
html
   head
      style.
         canvas {
            position: absolute;
            top: 0;
            left: 0;
         }
   body
      canvas(id="canvas" width="700" height="700")
      canvas(id="tmpLayer" width="700" height="700")
      script(type="text/javascript" data-main="config.js" src="./require.js")